In [1]:
import pandas as pd
import numpy as np

In [2]:
betas = pd.DataFrame(np.array([[-0.04316847, -0.05874471, -0.03433256],
       [ 0.01955111,  0.19637679,  0.03451503],
       [-0.01174265,  0.01398085,  0.05143999]]))
pcas = pd.DataFrame(np.array([[ 0.0059017,-0.13077609,0.99139436],
                              [-0.07759542,0.98836246,0.13083807],
                              [ 0.99696746,0.07769983,0.00431461]]))

In [3]:
data = [[0.02769242, 1.34872387, 0.23460972],
[-0.94728692, 0.68386883, -1.23987235],
[1.93769376, -0.48275934, 0.34957348],
[0.23985234, 0.35897345, 0.34598734]]
returns = pd.DataFrame(data, columns=['A', 'AAL', 'AAP'], index=['2003-08-05','2003-08-06','2003-08-07','2003-08-08'])

In [4]:
pcas

          0         1         2
0  0.005902 -0.130776  0.991394
1 -0.077595  0.988362  0.130838
2  0.996967  0.077700  0.004315

In [5]:
returns

                   A       AAL       AAP
2003-08-05  0.027692  1.348724  0.234610
2003-08-06 -0.947287  0.683869 -1.239872
2003-08-07  1.937694 -0.482759  0.349573
2003-08-08  0.239852  0.358973  0.345987

In [7]:
output = np.array([[-0.49503261, 1.45332369, -0.08980631],
                  [-1.87563271, 0.67894147, -1.11984992],
                  [-0.13027172, -0.49001128, 1.67259298],
                  [-0.25392567, 0.47320133, 0.04528734]])
output = pd.DataFrame(output, index=returns.index, columns=returns.columns)
output

                   A       AAL       AAP
2003-08-05 -0.495033  1.453324 -0.089806
2003-08-06 -1.875633  0.678941 -1.119850
2003-08-07 -0.130272 -0.490011  1.672593
2003-08-08 -0.253926  0.473201  0.045287

In [8]:
cov_matrix = np.array([[0.02272535,0.00000000,0.00000000],
                     [0.00000000,0.05190083,0.00000000],
                     [0.00000000,-0.49001128,0.05431181]])
columns = ['A', 'AAL', 'AAP']
cov_matrix = pd.DataFrame(cov_matrix, index=columns, columns=columns)
cov_matrix

            A       AAL       AAP
A    0.022725  0.000000  0.000000
AAL  0.000000  0.051901  0.000000
AAP  0.000000 -0.490011  0.054312

In [9]:
np.diag(cov_matrix)

array([0.02272535, 0.05190083, 0.05431181])

In [10]:
returns * np.diag(cov_matrix)

                   A       AAL       AAP
2003-08-05  0.000629  0.070000  0.012742
2003-08-06 -0.021527  0.035493 -0.067340
2003-08-07  0.044035 -0.025056  0.018986
2003-08-08  0.005451  0.018631  0.018791

In [11]:
returns

                   A       AAL       AAP
2003-08-05  0.027692  1.348724  0.234610
2003-08-06 -0.947287  0.683869 -1.239872
2003-08-07  1.937694 -0.482759  0.349573
2003-08-08  0.239852  0.358973  0.345987

In [12]:
np.sum(np.dot(returns, cov_matrix), axis=1)

array([-0.03159012,  0.55417766, -0.13332982, -0.12666475])